#dependencies
/node_modules
/.pnp
.pnp.js

#dev
/build
/dist
.vscode
.eslintcache
.env.local
.env.development.local
.env.test.local
.env.production.local

#testing
/coverage

#MacOS
.DS_Store

#Windows
Thumbs.db

#log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

#env
.env